.completed { 
  text-decoration: line-through;
}

ul {
  user-select: none;
}

li {
  cursor: pointer;
  line-height: 0.8em;
}

li span {
  font-size: 1.2em;
}

li:hover img{
  visibility: visible;
}

img {
  visibility: hidden;
  position: relative;
  top: 6px;
  left: 3px;
}
