/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

button {
  padding: 2px 10px;
}